#number{
    transition: .3s;
}
#card-content:hover #number{
    opacity: 0;
}

#phase{
    transition: .3s;
}

#card-content:hover #phase{
    transform: translateY(-6.5rem);
}

#desc{
    transition: .3s;
}

#card-content:hover #desc{
    opacity: 1;
}

#square{
    transition: .3s;
}

#square:hover{
    transform: scale(1.1);
}